@import "tailwindcss";

body {
  font-family: var(--font-montserrat);
  max-width: 1440px;
  margin: 0 auto;
}


.openSans{
    font-family: 'Open Sans';
    font-size: 10px;
    color: #5C6A79;
    font-weight: 400;
}
